<%- include('./partials/header.ejs') %>
<div class="container">
    <div class="row align-center">
        <div class="mx-auto">
            <h1>Welcome back!</h1>
            <%- include('./partials/errors.ejs', { errors: errors }) %>
            <form method="POST">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" name="email" id="email" required/>
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" id="password" required/>
                </div>
                <input type="submit" value="Login" class="btn btn-success"/>
            </form>
            </br>
            <div>
                <h3>Don't have an account? </h3>
                <form method="GET" action="/auth/registration">
                    <input type="submit" value="Register" class="btn btn-primary"/>
                </form>
            </div>
        </div>
    </div>
</div>

<%- include('./partials/footer.ejs') %>